#asset-reservation .reservation-box {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#asset-reservation .reservation-day {
    margin-bottom: 10px; 
    border: solid 1px gray; 
    padding: 10px;
}
#asset-reservation .reservation-header {
    font-size: 1.8rem; 
    text-align: center; 
    margin-bottom: 50px;
}
@keyframes showAnimation {
    0% {
        opacity: 0;
        width: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        width: 600px;
        visibility: visible;
    }
}
#asset-reservation .reservation-div {
    border: solid 1px gray; 
    border-radius: 20px;
    animation: showAnimation 0.5s forwards;
}
#asset-reservation .reservation-form .reservation-form-header {
    font-size: 1.2rem;
    margin: 10px;
}
#asset-reservation .reservation-form div {
    text-align: left; 
    margin: 15px;
}
#asset-reservation .reservation-form div label{
    display: inline-block; 
    text-align: left; 
    width: 100px; 
    font-weight: bold;
}
#asset-reservation .reservation-form .last-label {
    vertical-align: top;
}
#asset-reservation .notification {
    text-align: left;
}
#asset-reservation .notification h1 {
    font-size: 1.2rem;
    margin: 10px 0;
}
#asset-reservation .notification p {
    font-size: 0.8rem;
    margin: 10px 0;
}
#asset-reservation .notification div {
    display: flex;
    align-items: center;
}
#asset-reservation .notification div label {
    width: 200px;
}
#asset-reservation .reservation-submit-btn {
    background-color: #735BF3;
    color: white;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 20px;
    margin-bottom: 10px;
}