#asset a {
    text-decoration: none;
    color: black;
}
#asset .asset-header {
    font-size: 1.8rem;
}
#asset .asset tr td:first-child {
    width: 70px;
    vertical-align: top;
}
#asset .asset td img {
    width: 250px;
    height: 150px;
}
#asset .asset td iframe {
    width: 250px;
    height: 150px;
}
#asset .asset table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    border-top: solid 1px black;
}
#asset .asset .btm { 
    border-bottom: 1px solid black;
}
#asset .asset tr td {
    padding: 10px 20px;
}
#asset .asset td p {
    text-align: center;
}
#asset .asset {
    overflow: hidden;
}
