#asset a {
    text-decoration: none;
    color: black;
}
#asset .asset td img {
    width: 300px;
    height: 180px;
}
#asset .asset td iframe {
    width: 300px;
    height: 180px;
}
#asset .asset table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    border-top: solid 1px black;
}
#asset .asset .btm { 
    border-bottom: 1px solid black;
}
#asset .asset tr td {
    padding: 10px 20px;
}
#asset .asset td p {
    text-align: center;
}

#asset .container-box {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
