@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
#asset .animated {
    animation: slide-up 0.5s ease-in-out forwards;
}
#asset a {
    text-decoration: none;
    color: black;
}
#asset .asset-header {
    font-size: 1.5rem;
    background-color: #735BF3;
    color: white;
    border-radius: 20px;
    padding: 10px 15px;
}
#asset .asset-header2 {
    font-size: 1.5rem;
    background-color: #735BF3;
    color: white;
    border-radius: 20px;
    display: inline-block;
    left: -100px;
    padding: 10px 15px;
    margin: 25px 80px ;
}
#asset .asset tr td:first-child {
    width: 70px;
    vertical-align: top;
}
#asset .asset td img {
    width: 250px;
    height: 150px;
}
#asset .asset td iframe {
    width: 250px;
    height: 150px;
}
#asset .asset table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    border-top: solid 1px black;
}
#asset .asset tr { 
    border-bottom: 1px solid black;
}
#asset .asset tr td {
    padding: 10px 20px;
    width: 25%;
}
#asset .asset tr td:first-child {
    width: 10%;
}
#asset .asset td p {
    text-align: center;
}
#asset .asset {
    overflow: hidden;
}
/* 리액트 슬릭 */
#asset .slick-list {
    margin: auto;
    width: 95%;
}