#managerlist a {
    text-decoration: none;
    color: black;
}
#managerlist .search-bar button {
    background-color: #735BF3;
    color: white;
    border: none;
    padding: 3px 6px;
    margin-left: 2px;
}
#managerlist .field-btn {
    width: 100%; 
    margin: auto;
    margin: 15px;
}
#managerlist .field-btn button {
    margin: 5px 10px;
    padding: 4px 8px;
    border: none; 
    border-radius: 20px; 
    color: white;
}
#managerlist .container-box {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}