.react-calendar1 {
  display: inline-block;
  width: 800px;
  height: 600px;
  max-width: 100%;
  background: white;
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 5em;
  border: none;
}  

.react-calendar__tile--now1:enabled:hover,
.react-calendar__tile--now1:enabled:focus {
  background: green;
}

