#signup-form .input-div {
    margin-top: 10px;
}
#signup-form .password-p {
    font-size: 0.5rem; 
    padding-left: 10px; 
    padding-top: 5px;
} 
#signup-form .signup-h1 {
    text-align: center;
    color: gray; 
    padding-top: 50px; 
    margin-top: 0px;
    font-size: 1.3rem;
}