#main .circular_slide {
  overscroll-behavior: none;
}

#badgeslide {
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#badgeslide .circle {
  border-radius: 50%;
  position: relative;
  touch-action: none;
  border: 15px solid #d9d9d9;
}

#badgeslide .circle .explain {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#badgeslide .circle .explain p {
  font-weight: bold;
}

#badgeslide .circle .explain p span {
  background-color: #F4E8AE;
}

#badgeslide .satellite {
  width: 50px;
  height: 50px;
  border: 3px solid #414141;
  border-radius: 50%;
  background: #f95e5e;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#badgeslide .satellite p {
  font-size: 12px;
  font-weight: bold;
}