#nav {
  box-sizing: border-box;
  width: 80vw;
  height: 6vh;
  margin: auto;
  background-color: #FFFFFF;
  border-radius: 0 0 50px 50px;
  margin-bottom: 1vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#nav .logo {
  background-image: url('../../assets/MONIVATION_assets/logo_onlytext.png');
  width: calc(228px * 0.9);
  height: calc(32px * 0.9);
  background-size: cover;
  margin-left: 47px;
  cursor: pointer;
}

#nav .nav_list {
  box-sizing: border-box;
  width: 761px;
  margin-right: 47px;
  display: flex;
  align-items: center;
}

#nav .nav_item {
  box-sizing: border-box;
  width: 133px;
  height: 6vh;
  line-height: 6vh;
  margin-right: 15px;
}

#nav a {
  display: block;
  color: #303030;
  font-size: 18px;
  font-weight: bold;
}

#nav a:last-child {
  margin-right: 0;
}

#nav a.active {
  background-color: #F4E8AE;
}

#nav a.active::after {
  content: '';
  width: 133px;
  height: 6vh;
  background-color: #F4E8AE;
}