/* Chrome, Safari, Edge, Opera */
/*input(number)에서 화살표제거*/
.main_calendar input::-webkit-outer-spin-button,
.main_calendar input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.main_calendar.react-calendar {
  display: block;
  width: 100%;
  height: 30%;
  max-width: 100%;
  max-height: 30%;
  background: white;
  /*border: 1px solid #a0a096;*/
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  border: none;
  margin-top: 21px;
}

.main_calendar .react-calendar__viewContainer {
  position: absolute;
  top: 80px;
  width: 77%;
}

.main_calendar .react-calendar--doubleView {
  width: 700px;
}

.main_calendar .react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.main_calendar .react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.main_calendar .react-calendar,
.main_calendar .react-calendar *,
.main_calendar .react-calendar *:before,
.main_calendar .react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main_calendar .react-calendar button {
  margin: 0;
  border: 0;
  /*outline: none;*/
}

.main_calendar .react-calendar button:enabled:hover {
  cursor: pointer;
}

.main_calendar .react-calendar__navigation {
  display: flex;
  justify-content: center;
  height: 44px;
  margin-top: 30px;
  margin-bottom: 1em;
  /*버튼 위치 변경*/
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Cafe24Ssurround';
}

.main_calendar .react-calendar__navigation__label__labelText .react-calendar__navigation__label__labelText--from {
  font-family: 'Cafe24Ssurround';

}

/* 상단의 년, 월 버튼 */
.main_calendar .react-calendar__navigation button {
  min-width: 150px;
  /* 버튼 최대크기 변경*/
  max-width: 300px;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.main_calendar .react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.main_calendar .react-calendar__navigation button:enabled:hover,
.main_calendar .react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

/* 요일 div css */
.main_calendar .react-calendar__month-view__weekdays {
  margin-top: 0px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  /*추가*/
  border: solid 1px lightgray;
  box-sizing: border-box;
  height: 4vh;
}

/* 요일 abbr태그 */
.main_calendar .react-calendar__month-view__weekdays abbr {
  text-decoration: none;
}

.main_calendar .react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.main_calendar .react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.main_calendar .react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

/* 날짜 타일만 모여있는 div 길이를 변화시킨다.
* 높이에 따라 타일 하나하나의 길이도 변화됨.
*/

.main_calendar .react-calendar__month-view__days{
  height: 50vh;
}

.main_calendar .react-calendar__month-view__days__day--neighboringMonth {
  color: #c3c3c3;
}

.main_calendar .react-calendar__year-view .react-calendar__tile,
.main_calendar .react-calendar__decade-view .react-calendar__tile,
.main_calendar .react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

/* 각 타일(일) css */
.main_calendar .react-calendar__tile {
  box-sizing: border-box;
  max-width: 100%;
  min-height: 82.7px;
  padding: 10px 6.6667px 10px 3px;
  background: none;
  text-align: right;
  line-height: 14px;
  border: solid 1px lightgray;
  border-top: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  
}

.main_calendar .react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.main_calendar .react-calendar__tile:enabled:hover,
.main_calendar .react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}S

.main_calendar .react-calendar__tile--now {
  background: #D1CAF8;
}

.main_calendar .react-calendar__tile--now:enabled:hover,
.main_calendar .react-calendar__tile--now:enabled:focus {
  background: #7c65ff;
}

.main_calendar .react-calendar__tile--hasActive {
  background: #76baff;
}

.main_calendar .react-calendar__tile--hasActive:enabled:hover,
.main_calendar .react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.main_calendar .react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.main_calendar .react-calendar__tile--active:enabled:hover,
.main_calendar .react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.main_calendar .react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

