a{
    text-decoration: none;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3개의 열을 가진 그리드 */
    gap: 20px; /* 카드 사이의 간격 */
    margin: 30px;
}

.card {
    border: solid 1px gray;
    padding: 30px;
    height: 100px;
    border-radius: 20px;
}

.default-challenge-list{
    margin: 30px;
}

.create-button{
    padding : 0px 15px;
    border-radius : 30px;
    align-items : center;
    border : none;
}