#my-ch-slide{
    padding: 10px;
}
#my-ch-slide a{
    text-decoration: none;
}

#my-ch-slide .my-ch-slide-wrap{
    margin: 10px;
}

#my-ch-slide .my-ch-slide-content{
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    margin: auto;
    width: 80%;
    height: 7vh;
}