.challenge-wrap{
    display: flex;
    width: 1000px;
    margin: auto;
}

#default-challenge-view .challenge-info-wrap{
    display: inline-block;
    border: solid black 1px;
    height: 200px;
    text-align: left;
}

#default-challenge-view .challenge-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-evenly;
    height: 100%;
    padding: 5px;
}

.badge-button-wrap{
    border: solid black 1px;
    display: inline-block;
    width: 300px;
}

.content-comment-wrap{
    display: flex;
    text-align: center;
    margin: auto;
    width: 1000px;
}