/* 하단 컴포넌트 전채 */
#MoneyCalendar.bottom_component_container {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    max-width: 99%;
    gap: 0 10px;
    max-height: 22%;
    height: 22%;
}


#MoneyCalendar .title {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin-top: 12px;
    margin-left: 19px;
}


/* 통계차트 */
#MoneyCalendar .chart_component_container {
    box-sizing: border-box;
    padding: 10px;
    border: 0px solid #8E8E8E;
    border-radius:50px;
    width: 25%;
    height: 100%; 
    overflow:hidden; 
    cursor: pointer;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
    transition: .5s;
    position: relative;
}
#MoneyCalendar .chart_component_container:hover {
    border: 0px solid #8E8E8E;
    border-radius:50px;
    background-color: #ECECEC;
    width: 25%;
    height: 100%; 
    overflow:hidden; 
    cursor: pointer;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
    transition: .5s;
}


#MoneyCalendar .chart_component_container .chartbtn_container{
    width: 60px;
    height: 80px;
    background-color: #8E8E8E;
    border-radius: 15px;
    position: relative;
    margin-top: 10%;
    margin-left: 7%;
}

#MoneyCalendar .chartbtn_container .btns {
    position: absolute;
    top: 0;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#MoneyCalendar .chartbtn_container .co_btn {
    box-sizing: border-box;
    width: 60px;
    height: 40px;
    padding-top: 2px;
    background-color: transparent;
    border: 0;
    border-radius: 50px;
    color: #FFFFFF;
    /* font-family: 'Cafe24Ssurround'; */
    font-weight: 100;
    font-size: 15px;
}



/* 통계 컴포넌트 */



/* 할부금  */
#MoneyCalendar .installment_component {
    box-sizing: border-box;
    padding: 10px;
    border: 0px solid #8E8E8E;
    border-radius:50px;
    width: 25%;
    height: 100%; 
    overflow:hidden; 
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
}


#MoneyCalendar .installment_component .installment_total {
    margin-left: 70px;
    margin-top: 50px;
}

/* 할부금 컴프 */
#installment.total_price {
    display: flex;
}

#installment.total_price {
    font-size: 10px;
    font-weight: 600;
}
#installment.total_price .T_price{
    font-size: 30px;
    font-weight: 600;
}



/* 첼린지 */
#MoneyCalendar .challenge_component {
    box-sizing: border-box;
    padding: 10px;
    border: 0px solid #8E8E8E;
    border-radius:50px;
    width: 25%;
    height: 100%; 
    overflow:hidden; 
    cursor: pointer;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
}



/* 목표금액 */
#MoneyCalendar .target_amount_component {
    box-sizing: border-box;
    padding: 10px;
    border: 0px solid #8E8E8E;
    border-radius:50px;
    width: 25%;
    height: 100%; 
    overflow:hidden; 
    cursor: pointer;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
}


#MoneyCalendar .target_amount_component .title_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#MoneyCalendar .target_amount_component .title_container .title_btn {
    display: flex;
    gap: 5px;
    margin-right: 19px;
}

#MoneyCalendar .target_amount_component .title_container .title_btn .title_plusebtn,
#MoneyCalendar .target_amount_component .title_container .title_btn .title_changebtn {
    border: 0;
    background-color: #ECECEC;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 25px;
}

/* 목표금액 컴프 */
#target_A.targetA_component{
    margin-top: 15px;
    margin: 15px 30px;
}

#target_A.targetA_component .targetA_list{
    background-color: #ECECEC;
    border-radius: 10px;

    font-weight: 500;

    width: 80%;
    height: 43px;
    

    display: flex;
    justify-content: space-between;
    
}

#target_A.targetA_component .targetA_list .A_title{
    margin-top: 5px;
    margin-left: 5px;
}
#target_A.targetA_component .targetA_list .A_amount{
    margin-top: 25px;
    margin-right: 5px;
}

#target_A.targetA_component .targetA_bar{
    width: 80%;
    margin-top: 10px;
}

#target_A.targetA_component .targetA_bar .A_bar_icon {
    /* margin-right: 50px; */
    width: i;
    margin-bottom: 20px;
}


/* 비어있는 div */
#MoneyCalendar .empty {
    width: 220px;

}

/* money input 입력 버튼 */
/* #moneyinput.moneyinput_container{
    border: 1px solid black;
} */

#moneyinput.moneyinput_container .money_pluse_btn_wrap {
    position: absolute;
    width: 80px;
    height: 80px;
    border: 0;
    border-radius: 50%;
    bottom: -33%;
    right: 0;
    background-color: #F4D750;
    z-index: 3;

    transition: .5s;
}
#moneyinput.moneyinput_container .money_pluse_btn_wrap:hover {
    position: absolute;
    width: 80px;
    height: 80px;
    border: 0;
    border-radius: 50%;
    bottom: -33%;
    right: 0;
    background-color: #ffc400;
    z-index: 3;

    transition: .5s;
}


#moneyinput .pluse_btn {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 9%;
    border: none;
    background-color: rgba(0,0,0,0);
    
    margin-right: 13px;
    margin-top: 20px;
}

#moneyinput .pluse_btn:before, #moneyinput .pluse_btn:after{
    content: "";
    position: absolute;

    background-color: rgb(255, 255, 255);
    transition: transform 0.25s ease-out;
}

  /* vertical line */
#moneyinput .pluse_btn:before{
    top: 0;
    left: 45%;
    width: 5px;
    height: 100%;
    margin-left: -1px;
}

  /* horizontal line */
#moneyinput .pluse_btn:after{
    top: 45%;
    left: 0;
    width: 100%;
    height: 5px;
    margin-top: -1px;
}

#moneyinput .pluse_btn.clike{
    cursor: pointer;
}

#moneyinput .pluse_btn.clike:before{ 
transform: rotate(90deg); 
}

#moneyinput .pluse_btn.clike:after{ 
transform: rotate(180deg); 
}



#moneyinput.moneyinput_container .money_input_btns {
    position: absolute;
    bottom: -28%;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    border-radius: 30px;
    background-color: #595959;
    width: 140px;
    height: 160px;
    box-sizing: border-box;
    padding: 10px 0;

    transition: .5s;
}

#moneyinput.moneyinput_container .money_input_btns_delete {
    position: absolute;
    bottom: -28%;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    border-radius: 50px;
    background-color: #ffffff;
    width: 0.1px;
    height: 0.1px;
    box-sizing: border-box;
    padding: 10px 0;
    
    transition: .5s;
}