.pull_container{
    background-color: #735BF3;
    height: 100vh;
}

.container_wrap {
    border: 1px white solid;
    border-radius: 30px;
    background-color: white;
    margin: 0 50px;
}

#moneychart_page .income_expenditure_btn {
    display: flex;
}














#moneychart_page .period_content {
    display: flex;
    justify-content: flex-end;
    background-color: #D9D9D9;
    border: px solid black;
    border-radius: 15px;
    padding: 5px 5px;
    margin-left: 68%;
    box-shadow: 6px 3px 3px rgba(0, 0, 0, 0.479);
}

#moneychart_page .inputs_wrap{
    margin: 0 2%;
    
}

#moneychart_page .piegp {
    margin-top: 50px;
}






.startday_content {
    display: flex;
}
.endday_content {
    display: flex;
}


.charts_wrap {
    display: flex;
    justify-content: center;
    
}


.container_charts {
    display: grid;
    grid-template-columns: repeat(2, minmax(600px));
    grid-template-rows: repeat(2, 400px);
    
}

.item {
    border: 1px white solid;
    border-radius: 15px;
}

.item:nth-child(1) {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #D9D9D9;
    grid-row: 1 / 3;
    margin-right: 10px;
    padding-top: 50px;
}

#moneychart_page .ptotal {
    margin-top: 60px;
    font-size: 50px;
}


.item:nth-child(2) {
    background-color: aquamarine;
	/* background-color: rgb(196, 243, 217); */
    grid-column : 2 / span 2;
    
}

.item:nth-child(3) {
    background-color: aquamarine;
	/* background-color: rgb(206, 197, 231); */
    grid-column : 2 / span 2;

}

.menulist {
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 30px;
    
}
.menulist span:nth-child(1) {
    left: 70px;
    position: absolute;
}
.menulist span:nth-child(2) {
    left: 190px;
    position: absolute;
}
.menulist span:nth-child(3) {
    position: absolute;
    left: 330px;
}
.menulist span:nth-child(4) {
    position: absolute;
    right: 270px;
}


.item_tree_wrap {
    display: inline-block;
    width: 100%;
    height: 90%;  
    overflow-y: scroll;
    /* border: 1px solid rgb(177, 60, 60); */
    box-sizing: border-box;
    color: white;
    
    /* background-color: rgba(0,0,0,0.8); */
}

/* 스크롤바 설정*/
.box2::-webkit-scrollbar{
    width: 6px;
}

/* 스크롤바 막대 설정*/
.box2::-webkit-scrollbar-thumb{
    background: linear-gradient(#f64435, #ffe498);
    border-radius: 25px;
}

/* 스크롤바 뒷 배경 설정*/
.box2::-webkit-scrollbar-track{
    background-color: #ffffff;
}


.item_child_three{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 4fr;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid rgb(70, 107, 177);
    color: black;
    border-radius: 8px;
}

/* .item_child_three:nth-child(1) {
    margin-right: 10px;
} */

.check_button {
    display: flex;
    justify-content: flex-end;
}


#moneychart_page .inputs_wrap {
    display: flex;
    
}

#moneychart_page .input_box_start {
    color: #000000;
    border:none;
    width: 110px;
    height: 100%;
    font-size:17px;
    background-color: #D9D9D9;
}

#moneychart_page .input_btn_box_start {
    border:none;
    background-color: #D9D9D9;
    height: 106%;
}

#moneychart_page .input_box_end {
    color: #000000;
    border:none;
    width: 113px;
    height: 100%;
    font-size:17px;
    background-color: #D9D9D9;
}

#moneychart_page .input_btn_box_end {
    border:none;
    background-color: #D9D9D9;
    height: 106%;
}