.dot {
    height: 4px;
    width: 4px;
    background-color: #63A1FF;
    border-radius: 50%;
    display: flex;
    margin-left: 1px;
}

.modal-cal {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.saving-period {
    border: 1px black solid;
}













#savinglist_container.content {
    text-align: center;
    padding: 50px 0;
}

#savinglist_container.content .title {
    box-sizing: border-box;
    width: 150px;
    height: 40px;
    margin: auto;
    padding-top: 10px;
    border-radius: 50px;
    background-color: #735BF3;
    color: #FFFFFF;
    font-family: 'Cafe24Ssurround';
    font-size: 23px;
}

#savinglist_container.content .list_container {
    margin-top: 40px;
    display: inline-block;
    width: 92%;
    height: 52vh;  
    overflow-y: scroll;
    box-sizing: border-box;
    
    
    
}

/* 스크롤바 설정*/
#savinglist_container .scrollbar::-webkit-scrollbar{
    width: 6px;
}

/* 스크롤바 막대 설정*/
#savinglist_container .scrollbar::-webkit-scrollbar-thumb{
    background: linear-gradient(#735BF3, #ffe498);
    border-radius: 10px;
    padding: 50px 0;
}

/* 스크롤바 뒷 배경 설정*/
#savinglist_container .scrollbar::-webkit-scrollbar-track{
    background-color: #d9d9d97c;
}

/* 메모 */
.tooltip-link{
    position: relative;
    margin: 0 auto;
    width: 70%;
    /* height: 30%; */
    box-sizing: border-box;
    margin-bottom: 14px;
    /* max-height: 30%; */
    /* overflow: hidden; */
    
}

.tooltip-link::before {
    content: attr(data-tooltip); /*툴팁 표시 내용은 버튼의 "data-tooltip" 속성값으로 */
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 10px 7px;
    border-radius: 10px;
    max-width: 300px;
    width: 250%; /* 버튼 너비 250% 크기만큼 툴팁 크기 설정 */
    left: 25%; /* 버튼 왼쪽에서 부터 버튼 너비 25% 이동한 위치에 툴팁 왼쪽이 오게 */
    bottom: 60%; /* 버튼 밑에서 부터 버튼 높이 120% 높이에 툴팁 밑부분이 오게 */
    opacity: 0; /* 기본 상태는 안보이게 */
    transition: all 0.5s linear; /* 나타났다 사라지는 애니메이션 */
}
.tooltip-link:hover::before {
    opacity: 1;
}

#savinglist_container.content .tooltip-link .top_wrap {
    display: flex;
    justify-content: space-between;

    margin: 0 10px;
}

#savinglist_container.content .tooltip-link .top_wrap .top_title {
    margin-top: 7px;
    font-size: 20px;
    font-weight: 900;
}

#savinglist_container.content .tooltip-link .top_wrap .top_btns {
    display: flex;
    gap: 3px;

    margin-top: 5px;
}
#savinglist_container.content .tooltip-link .top_wrap .top_btns .top_listchange {
    border: 0;
    background-color: #ECECEC;
    width: 22px;
    height: 20px;
    border-radius: 100%;

    padding: 3.5px;

    transition: 0.4s;
}
#savinglist_container.content .tooltip-link .top_wrap .top_btns .top_listchange:hover {
    border: 0;
    background-color: #999999b0;
    width: 22px;
    height: 20px;
    border-radius: 100%;
    
    padding: 3.5px;

    transition: 0.4s;
}




#savinglist_container.content .tooltip-link .top_wrap .top_btns .top_listdelete {
    border: 0;
    background-color: #ECECEC;
    width: 22px;
    height: 20px;
    border-radius: 100%;
    
    padding: 3.5px;

    transition: 0.4s;
}
#savinglist_container.content .tooltip-link .top_wrap .top_btns .top_listdelete:hover {
    border: 0;
    background-color: #999999b0;
    width: 22px;
    height: 20px;
    border-radius: 100%;
    
    padding: 3.5px;

    transition: 0.4s;
}


#savinglist_container.content .tooltip-link .middle_wrap{
    background-color: #D9D9D9;
    margin-top: 5px;
    padding: 12px 19px;
    height: 50%;
    border-radius: 15px;
}

#savinglist_container.content .tooltip-link .middle_wrap .middle_period {
    
    background-color: white;
    border-radius: 7px;
    height: 20%;

    font-size: 13px;
    font-weight: 600;

    padding-top: 10px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;

    display: flex;
    justify-content: space-between;
    
}

#savinglist_container.content .tooltip-link .middle_wrap .middle_select_price{
    margin-top: 13px;
    display: flex;
    justify-content: flex-end;

    font-size: 15px;
    font-weight: 400;
}

#savinglist_container.content .tooltip-link .middle_wrap .middle_select_price .periodunit_letter {
    margin-right: 5px;
}




#savinglist_container.content .tooltip-link .middle_wrap .middle_total_price{
    display: flex;
    justify-content: end;

    margin-top: 5px;
}

#savinglist_container.content .tooltip-link .middle_wrap .middle_total_price .total_letter {

    font-size: 12px;
    padding-top: 9px;
}
#savinglist_container.content .tooltip-link .middle_wrap .middle_total_price .total_price {
    font-size: 25px;
    font-weight: 600;

    
    margin-left: 10px;
}



