.dot {
    height: 4px;
    width: 4px;
    background-color: #63A1FF;
    border-radius: 50%;
    display: flex;
    margin-left: 1px;
}

.modal-cal {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.saving-period {
    border: 1px black solid;
}

.saving-bord {
    border: 1px black solid;
    background-color: rgb(190, 187, 187);
}

.period-bord {
    margin-top: 5px;
    border: 1px black solid;
    background-color: white;
}

.tooltip-link{
    position: relative;
    background-color: #aad;
    border-radius: 10px;
    border: 3px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

.tooltip-link::before {
    content: attr(data-tooltip); /*툴팁 표시 내용은 버튼의 "data-tooltip" 속성값으로 */
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 10px 7px;
    border-radius: 10px;
    max-width: 300px;
    width: 250%; /* 버튼 너비 250% 크기만큼 툴팁 크기 설정 */
    left: 25%; /* 버튼 왼쪽에서 부터 버튼 너비 25% 이동한 위치에 툴팁 왼쪽이 오게 */
    bottom: 120%; /* 버튼 밑에서 부터 버튼 높이 120% 높이에 툴팁 밑부분이 오게 */
    opacity: 0; /* 기본 상태는 안보이게 */
    transition: all 0.5s linear; /* 나타났다 사라지는 애니메이션 */
}
.tooltip-link:hover::before {
    opacity: 1;
}